FORECAST_DATE,EXTERNAL_ID,FORECAST_VALUE
<%= Date.add(start_date, 1) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 2) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 3) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 4) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 5) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 6) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date, 7) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 8) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 9) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 10) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 11) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 12) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 13) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 14) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 15) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 16) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 1) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 2) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 3) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 4) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 5) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 6) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date, 7) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 8) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 9) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 10) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 11) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 12) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 13) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 14) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 15) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 16) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 1) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 2) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 3) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 4) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 5) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 6) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date, 7) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 8) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 9) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 10) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 11) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 12) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 13) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 14) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 15) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 16) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 1) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 2) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 3) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 4) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 5) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 6) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date, 7) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 8) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 9) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 10) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 11) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 12) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 13) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 14) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 15) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 16) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 1) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 2) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 3) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 4) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 5) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 6) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date, 7) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 8) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 9) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 10) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 11) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 12) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 13) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 14) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 15) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 16) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 1) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 2) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 3) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 4) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 5) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 6) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date, 7) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date, 8) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 9) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 10) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 11) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 12) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 13) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 14) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 15) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date, 16) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date,  7 ) %>,B0xxxxxxxxJ,0.90
<%= Date.add(start_date,  7 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  7 ) %>,B0xxxxxxxx,3.90
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,10.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  8 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  8 ) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxxJ,0.1
<%= Date.add(start_date,  5 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx1.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,0.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  1 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  1 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  9 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  10 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  9 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  10 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  10 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxxJ,0.6
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.90
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  4 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  4 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  4 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  4 ) %>,B0xxxxxxxxJ,0.2
<%= Date.add(start_date,  2 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  1 ) %>,B0xxxxxxxxJ,0.6
<%= Date.add(start_date,  1 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  2 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  2 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  1 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  2 ) %>,B0xxxxxxxxJ,0.55
<%= Date.add(start_date,  1 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,13.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.90
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,1.90
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,8.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,14.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,8.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  2 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,13.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,8.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  3 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  3 ) %>,B0xxxxxxxxJ,0.0
<%= Date.add(start_date,  3 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  3 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  5 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  5 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  5 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  5 ) %>,B0xxxxxxxxJ,0.90
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  1 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,1.90
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,11.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  3 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,11.90
<%= Date.add(start_date,  9 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  10 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  9 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  7 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx1.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  7 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,0.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxxJ,0.40
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxxJ,0.80
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxxJ,0.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,11.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  5 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  6 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  6 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  9 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  8 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  8 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxxJ,0.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxxJ,0.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx1.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,8.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  9 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,1.90
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  3 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  3 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.90
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,4.90
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  13 ) %>,B0xxxxxxxx1.0
<%= Date.add(start_date,  7 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  7 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  6 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,13.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  8 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  9 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,1.90
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,8.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  19 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  18 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  11 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,2.90
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,9.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  4 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  10 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  9 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  9 ) %>,B0xxxxxxxxJ,0.90
<%= Date.add(start_date,  10 ) %>,B0xxxxxxxxJ,0.80
<%= Date.add(start_date,  10 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,11.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,1.90
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,8.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,8.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxxJ,0.0
<%= Date.add(start_date,  9 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,0.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  2 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  2 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,6.90
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxxJ,0.9
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  12 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx.0
<%= Date.add(start_date,  6 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  6 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  16 ) %>,B0xxxxxxxx.0
<%= Date.add(start_date,  17 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  6 ) %>,B0xxxxxxxxJ,0.8
<%= Date.add(start_date,  6 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx1.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  4 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,0.0
<%= Date.add(start_date,  4 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  14 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,5.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  5 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,7.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,4.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,2.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,6.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,3.0
<%= Date.add(start_date,  15 ) %>,B0xxxxxxxx,0.0
<%= Date.add(start_date,  8 ) %>,B0xxxxxxxxJ,0.0
<%= Date.add(start_date,  8 ) %>,B0xxxxxxxx,1.0
<%= Date.add(start_date,  27 ) %>,B0xxxxxxxx,6.0
